//Units
$rem-5: 0.313rem;
$rem-10: 0.625rem;
$rem-12: 0.75rem;
$rem-14: 0.875rem;
$rem-16: 1rem;
$rem-18: 1.125rem;
$rem-20: 1.25rem;
$rem-22: 1.375rem;
$rem-24: 1.5rem;
$rem-28: 1.75rem;
$rem-32: 2rem;
$rem-36: 2.25rem;
$rem-40: 2.5rem;
$rem-46: 2.875rem;
$rem-54: 3.375rem;
$rem-56: 3.5rem;
$rem-60: 3.75rem;
$rem-64: 4rem;
$rem-72: 4.5rem;
$rem-84: 5.25rem;
$rem-92: 5.75rem;
$rem-100: 6.25rem;

// colors
$primary: #008ad2;
$light-primary: #0ea0ec;
$secondary: #858585;
$background-body: #f2f0f0;
$background-dashboard: #f8fafb;
$white: #ffffff;
$dark-gray: #262729;
$black: #000000;
$red: #ec5246;
$green: #1de9b6;
$orange: #f07818;
$purple: #a389d4;
$yellow: #f4c22b;
$shadow-block: 0 1px 20px 0 rgb(69 90 100 / 8%);
$shadow-semantic: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
